<form novalidate autocomplete="off" #formEmp="ngForm" (submit)="onSubmit(formEmp)">
    <input type="hidden" name="folio" [value]="service.formEmpresas.id" />
    <div class="form-group">
        <label>Nombre de la empresa</label>
        <input type="text" class="form-control form-control-lg" placeholder="Razón social de la empresa"
                name="nombre" #nombre="ngModel" [(ngModel)]="service.formEmpresas.nombre"
                required [class.invalid]="nombre.invalid && nombre.touched"  
                maxlength="100" minlength="3"/>
    </div>
    <div class="form-group row my-3 justify-content-md-center">
        <div class="col-5">
            <button class="btn btn-danger btn-lg btn-block" type="button" (click)="regresaMenuAgregar()">Cancelar</button>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="formEmp.invalid">Guardar Empresa Nueva</button>
        </div>
    </div>
</form>
